body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.instagram-logo {
    width: 220px;
    height: 220px;
    background: linear-gradient(-135deg,#7218bc  7%,#b508e0 15%, #dc2743 50%,  #dba81c 75%, #eed818 100%);
    border-radius: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.camera-icon {
    width: 120px;
    height: 120px;
    background: linear-gradient(-135deg,#964ed5  7%,#b508e0 5%, #dc2743 50%,  #e6683c 75%, #eed818 100%);
    border-radius: 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 8px;
    border-color: white;
    border-style: solid;
    
}

.inner-circle {
    width: 45px;
    height: 45px;

    border-radius: 50%;
    position: relative;
    border-width: 8px;
    border-color: white;
    border-style: solid;

}

.small-circle {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
